.bg-dark {
  background-color: #011b35 !important;
}
.navbar-dark .navbar-nav .nav-link.active,
.navbar-dark .navbar-nav .show > .nav-link {
  color: rgb(255, 255, 255);
}
.navbar-dark .navbar-nav .nav-link {
  color: rgba(255, 0, 0, 0.938);
}

.nav-link {
  font-size: 16px;
  font-family: kanit;
}
.col-sm-2 h3 {
  font-family: "Prompt", sans-serif;
  font-weight: 400;
  text-shadow: 2px 1px 2px rgb(255, 0, 0);
}
/* #AboutBox {
  margin-left: 240px;
  margin-right: auto;
} */
#symbol {
  font-family: "Prompt", sans-serif;
}
body {
  opacity: 1;
  animation-name: fadeInOpacity;
  animation-iteration-count: 1;
  animation-timing-function: ease-in;
  animation-duration: 0.3s;
}

@keyframes fadeInOpacity {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
