.parallax-header {
  background-color: #011b35;

  height: 100%;

  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.parallax01 {
  background-image: url("https://cdn.pixabay.com/photo/2020/02/06/15/59/forest-4824759_1280.png ");

  height: 100%;

  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.parallax02 {
  /* background: url(/src/images/parallax02.jpg); */
  background: url("https://scontent.fkdt3-1.fna.fbcdn.net/v/t1.15752-9/313830591_3258469914413235_7374523948566591099_n.jpg?_nc_cat=107&ccb=1-7&_nc_sid=ae9488&_nc_eui2=AeGBKR6Gb0SQGmmngEdasjUtAiXzwKGhVcACJfPAoaFVwMhBySz5TRueQSWRFu6h_amoa-Yk9YilKExxEE4L9npl&_nc_ohc=ix1Pu_oUzTgAX9zCtph&_nc_ht=scontent.fkdt3-1.fna&oh=03_AdQV4IGddvMBuTrO2fecthxVFh1I0pI7DbDM0ngA2fI4tQ&oe=63A22B35");
  height: 100%;

  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.parallax03 {
  /* background-image: url(/src/images/parallax03.jpg); */
  background-image: url("https://scontent.fkdt3-1.fna.fbcdn.net/v/t1.15752-9/311075724_6349106191774865_5961194563715414491_n.jpg?stp=dst-jpg_s2048x2048&_nc_cat=102&ccb=1-7&_nc_sid=ae9488&_nc_eui2=AeHOlrbkbbdBijj2nL021OUlPRW_iWZ6JLw9Fb-JZnokvJUB-sJXUa2ImdkpnWChCufh5KCg-8xYwVxwxyWTLx-N&_nc_ohc=wm22pmk0hnwAX8b6rfz&_nc_ht=scontent.fkdt3-1.fna&oh=03_AdQbD2r9f7g4CAEBDQ-ksRiKijHZC2aflXuHSBybxlD3ug&oe=63A22671");

  height: 100%;

  position: relative;

  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.parallax-title {
  height: auto;
  background-color: #011b35;
  font-size: 40px;
  color: white;
  text-align: center;
}
body,
html {
  height: 100%;
  background-color: #011b35;
}
.caption-header {
  position: absolute;
  left: 0;
  top: 25%;
  width: 100%;
  text-align: center;

  font-size: 40px;
}
.caption-header span.border {
  background-color: #011b35;
  color: #fff;
  padding: 9px;
  font-size: 25px;
  letter-spacing: 10px;
}
.caption-title {
  position: absolute;
  left: 0;
  top: 50%;
  width: 100%;
  text-align: center;

  font-size: 40px;
}
.caption-title span.border {
  background-color: #011b35;
  color: #fff;
  padding: 9px;
  font-size: 25px;
  letter-spacing: 10px;
}
.ENTER-SITE a {
  color: rgb(255, 255, 255);
}
.ENTER-SITE a:link {
  text-decoration: none;
}
.ENTER-SITE a:hover {
  color: #0080ff;
}
.ENTER-SITE {
  font-family: "kanit";
  text-align: center;
  font-size: 40px;
  color: white;
}
body {
  opacity: 1;
  animation-name: fadeInOpacity;
  animation-iteration-count: 1;
  animation-timing-function: ease-in;
  animation-duration: 0.3s;
}

@keyframes fadeInOpacity {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
